body {
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	font-size: 12px;
}

a img {
	border: none;
	margin: 15px;
}

A:link {
	text-decoration: none;
	color: grey;
}

A:visited {
	text-decoration: none;
	color: grey;
}

A:hover {
	text-decoration: underline;
}

body {
	padding: 20px;
	text-align: left;
	background: #DDDDDD;
}

#header {
	background: #ddd;
	width: 100%;
}

#leftcol {
  position: static;
	float: left;
	width: 10%;
	height: 80%;
}

#content {
	float: right;
	width: 85%;
	height: 80%;
}

#mainImage {
	float: center;
	width: 80%;
	height: 80%;
	max-width: 552px;
	margin-top: 8%;
	margin-left: 11%;
}

#content img {
	float: center;
	width: 100%;
}

#thumbs {
	text-align: left;
	background: #ddd;
	clear: both;
	width: 80%;
	padding-left: 19%;
	font-style: italic;
}

#footer {
	text-align: right;
	background: #DDD;
	clear: both;
	width: 80%;
	padding-left: 19%;
	font-style: italic;
}

p.pos_fixed{
  position:fixed;
  bottom:30px;
  left:70px;
}